In [ ]:
t=input("saisir un teste :")
liste_mots = t.split()
print (liste_mots)
d=dict({})
for mot in liste_mots:
   d[mot] = len(mot)
print ("le dict:",d)

saisir un teste :bb vv
['bb', 'vv']
le dict: {'bb': 2, 'vv': 2}

In [ ]:
d = {"Aladin": [12, 15 , 17] , "Nathalie" : [15, 13 , 16] , "Robert": [13, 15 , 11] }
d_moyenne={}
for key,value in d.items():
  m=0
  for x in value:
    m=m+x
  m=m/len(value)
  d_moyenne[key]=round(m,2)
print(d_moyenne)

{'Aladin': 14.67, 'Nathalie': 14.67, 'Robert': 13.0}

In [ ]:
students = {'id1':  {'name': 'Catherine' , 'section': 'SVT', 'age': 17},
                'id2':  {'name': 'Majid' , 'section': 'Math', 'age': 18},
                'id3':  {'name': 'Catherine' , 'section': 'SVT', 'age': 17},
                'id4':  {'name': 'Robert' , 'section': 'Physique', 'age': 19}
                }

d_res=dict({})
for key,data in students.items():
  if data not in d_res.values():
    d_res[key]=data
print(d_res)

{'id1': {'name': 'Catherine', 'section': 'SVT', 'age': 17}, 'id2': {'name': 'Majid', 'section': 'Math', 'age': 18}, 'id4': {'name': 'Robert', 'section': 'Physique', 'age': 19}}

In [ ]:
liste=[]
for x in range(2):
    x=int(input("Donner un entier: "))
    liste.append(x)
liste.sort()
print(liste)

Donner un entier: 1
Donner un entier: 5
[1, 5]

In [ ]:

liste1=[]
liste2=[]
liste3=[]
n=int(input('n? '))
for i in range (n):
    x=int(input("Donner une valeur: "))
    liste1.append(x)
for i in range (n):
    y=input("Donner un caractère: ")
    liste2.append(y)
liste3.extend(liste2)
liste3.extend(liste1)   #for i in range (n):
   # liste3.append(liste1[i])
    #liste3.append(liste2[i])

print(liste3)

n? 1
Donner une valeur: 4
Donner un caractère: l
['l', 4]

In [ ]:
n=0
while(n<=0):
    n=int(input("saisir n "))
ch=str(n)
print(ch)
s=0
for i in range(0,len(ch)):
    s+=int(ch[i])
print(s)

saisir n 645
645
15

In [ ]:

def second(h, m, s):

 return int(h) * 3600 + int(m) * 60 + int(s)

print(second(1, 10, 30))

4230

In [ ]:
def second(h, m, s, h1, m1, s1):

 return (int(h) * 3600 + int(m) * 60 + int(s)) - (int(h1) * 3600 + int(m1) * 60 + int(s1))


print(second(1, 10, 30, 1, 20, 50))

-620

In [ ]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n-1)

def facto(n,p):
    c=fact(n)/fact(p)*fact(n-p)
    return c

                                                              TP2

In [ ]:
lstButs=['FCB','REA','REA','FCB','FCB']
if lstButs.count('FCB')<lstButs.count('REA'):
    print("REA est l'équipe gagante")
elif lstButs.count('FCB')>lstButs.count('REA'):
    print("FCB est l'équipe gagante")
else:
    print("égalité")

FCB est l'équipe gagante

In [ ]:
A = int(input("Donner le nombre A : "))
B = int(input("Donner le nombre B : "))
c = A
d = 0

while c >= B:
    c = c - B
    d = d + 1

print("c=" ,c)
print("d=" ,d)

Donner le nombre A : 15
Donner le nombre B : 2
c= 1
d= 7

In [ ]:

    if y != 0:
        resultat = x / y
    else:
        print("La division par zéro n'est pas autorisée.")
        resultat = None

In [ ]:
 10 * 50 + 20 * 40 + (nombre_de_photocopies - 30) * 30

In [ ]:
L=[1,1,0,0,1,0,1,1,1,0,1,1]
Nmax=0
for i in range (len(L)):
    pos=i
    n=0
    while(i<len(L) and L[i]==1):
        n+=1
        i+=1
    if (n>Nmax):
        Nmax=n
        pos1=pos
print('la position est',pos1,'de taille',Nmax)

la position est 6 de taille 3

In [ ]:

l=[('yosr',20),('ons',10),('ghada',15)]
Lr=[]
t=()
s=0
m=("",0)
for i in l:
  if (i[1]>=10):
    t=t+(i[0],)
  s=s+i[1]
  if (i[1]>m[1]):
    m=(i[0],i[1])
Lr.append(t)
Lr.append(m)
Lr.append(s/len(L))
print(Lr)

[('yosr', 'ons', 'ghada'), ('yosr', 20), 3.75]

In [ ]:
test=False
while test==False:
    ADN=input("Donner une chaine d'ADN: ")
    test=True
    for c in ADN:
        if c not in 'acgt':
            test=False
            break
test=False
while test==False:
    sq=input("donner une sequence :")
    test=True
    for c in sq:
        if c not in 'acgt':
            test=False
            break
print("il y a",ADN.count(sq),"de",sq,"dans votre chaine")

Donner une chaine d'ADN: gtacgtacgtttcacagtt
donner une sequence :gt
il y a 4 de gt dans votre chaine

In [ ]:
dico={'computer':'ordinateur','mouse':'souris'}


d_inv={}
   #for cle in dico:
   # val=dico[cle]
for key,values in d.items():
    d_inv[values]=key

print(dico)
print(d_inv)

{'computer': 'ordinateur', 'mouse': 'souris'}
{'ordinateur': 'computer', 'souris': 'mouse'}

In [ ]:
class CompteBancaire:

    def __init__(self,numeroCompte,nom,solde):
         self.numeroCompte=numeroCompte
         self.nom=nom
         self.solde=solde
    def Versement(self,argent):
        self.solde=self.solde+argent
    def retrait(self,argent):
        if(self.solde<argent):
            print("impossible d'effectuer l'opération.Solde insuffisant !")
        else:
            self.solde=self.solde-argent
    def frais(self):
        self.solde=self.solde*95/100
    def afficher(self):
        print("Compte numéro : ",self.numeroCompte)
        print("Nom: ",self.nom)
        print("Solde:" ,self.solde,"DH")
moncompte=CompteBancaire(1254869,"Ons",20359)
moncompte.Versement(12354)
moncompte.retrait(254895)
moncompte.afficher()

impossible d'effectuer l'opération.Solde insuffisant !
Compte numéro :  1254869
Nom:  Ons
Solde: 32713 DH

In [ ]:
class compteBancaire:

    def __init__(self, numeroCompte, nom, solde):
        self.numeroCompte=numeroCompte
        self.nom=nom
        self.solde=solde

    def versement(self, montant):
        self.solde+=montant

    def retrait(self, numCompte, montant):
        self.solde-=montant

    def frais(self):
        self.solde=self.solde-(self.solde*0.05)

    def affichage(self):
        print("le compte numero: ",self.numeroCompte," de ",self.nom," a une solde=",self.solde)

a=compteBancaire('12345','mouh',1500)
a.versement(300)
a.retrait('12345',100)
a.frais()
a.affichage()

le compte numero:  12345  de  mouh  a une solde= 1615.0

In [ ]:
class Rectangle:
 def __init__(self, longueur=30, largeur=15):
     self.L, self.l = longueur, largeur
     self.nom = "rectangle"
def __str__(self):

  return "nom : {}".format(self.nom)
class Carre(Rectangle):
    def __init__(self, cote=20):
         super().__init__(cote, cote)
         self.nom = "carré"


r = Rectangle()
c = Carre()
print(r)
print(c)

<__main__.Rectangle object at 0x7fb31ac5d2d0>
<__main__.Carre object at 0x7fb3235a7e90>

In [ ]:
class Point:
    def __init__(self,x=0.0,y=0.0):
        self.px=x
        self.py=y
class Segment:
    def __init__(self,x1,y1,x2,y2):
        self.orig=Point(x1,y1)
        self.ext=Point(x2,y2)
        #méthode statique pour l'affichage
    def __str__(self):
        return("Segment : [({},{}),({},{})]".format(self.orig.px,self.orig.py,self.ext.px,self.ext.py))

S=Segment(2,3,5,8)
print(S)

Segment : [(2,3),(5,8)]

In [ ]:
def pente(xa,ya,xb,yb):
    try:
        p=(yb-ya)/(xb-xa)
        return p
    except ZeroDivisionError:
        print("désolé dévision par zero impossible")

print(pente(2,4,6,8))

1.0

In [ ]:
def creation():
    print("***veuillez entrer les donnees (ou<entre>pour terminer):")
    nom=input("nom: ")
    if nom=="":
        return[]
    else:
        prenom=input("prenom: ")
        rueNum=input("Adresse (N° et rue): ")
        cPost=input("Code postal: ")
        local=input("Localité: ")
        tel=input("N° de téléphone: ")
        return[nom,prenom,cPost,local,tel]
f=open("membres.txt","w")
while 1:
    tt=creation()
    if tt==[]:
        break
    i=0
    while i<len(tt):
        f.write(tt[i]+'#')
        i=i+1
    f.write("\n")
f.close()